---
layout: default
---

<html>
<head>
<title>Nguyen Tran Hoang</title>
</head>

<body>

<h1>Nguyen Tran Hoang</h1>

<p id="bio_left"></p>
<p id="bio_right"></p>


<h2>EDUCATION and TRAINING</h2>
<div class="degree">
	<p class="date">October 2015 – 2017</p>
	<div class="degree_data">
		<h3>University of Montpellier, France</h3>
		<ul>
			<li>Doctor of philosophy - Electronics and System</li>
		</ul>
	</div>
</div>
<div class="degree">
	<p class="date">October 2015 – 2017</p>
	<div class="degree_data">
		<h3>University of Science and Technology of Hanoi, Vietnam</h3>
		<ul>
			<li>Master in Space and Aeronautics</li>
		</ul>
	</div>
</div>
<div class="degree">
	<p class="date">Sep 2012 – 2015</p>
	<div class="degree_data">
		<h3>University of Science and Technology of Hanoi, Vietnam</h3>
		<ul>
			<li>Bachelor in Space Science and Applications</li>
		</ul>
		&nbsp;
	</div>
</div>



<h2>RESEARCH EXPERIENCES</h2>
  <h3>Institut d’Electronique et des Systèmes, University of Montpellier, France</h3>
		<ul>Internship for Second year of Master : Development of camera based on CMOS APS sensor and FPGA Zynq
    </ul>
  <h3>Vietnam National Satellite Center, VAST, Vietnam</h3>
  <ul>Researcher :
    Upgrade Ground Station for CubeSat signal reception. 
    Study SAT- Automatic Sdentification System on CubeSat. 
    Design Star Tracker for CubeSat
  </ul>
  <h3>Vietnam National Satellite Center, VAST, Vietnam</h3>
  <ul>Researcher :
    Internship for First year of Master : 
    Reduction of ALMA (The Atacama Large Millimeter/submillimeter Array) data using
    CASA software
  </ul>
  <h3>Space Engineering and Research Centre, Universidad del Turabo, Puerto Rico, USA</h3>
  <ul>Bachelor Internship : 
    Designing and implementing ground station for CubeSat communication in project
    QB50.
    By using new approach: Software Defined Radio, system was able to receive and decode
    the signal from the most of CubeSat working on orbit.
    Automate apart of satellite operation process. ( Antenna tracking, Doppler effect,
    Decoding signal).
  </ul>
  <h3>FSpace laboratory, FPT University, Vietnam</h3>
  <ul>Research assistance : 
    Joining in F-1 CubeSat project.
  </ul>

<h2>LANGUAGE</h2>
  <li>Vietnamese: Native language.</li>
  <li>English: Fluent (speaking, reading, writing).</li>
  <li>French: basic (speaking, reading, writing).</li>

<h2>SKILLS</h2>
<li>Programming: Familiar with: Python C, VHDL. Basic with: C#, html, CSS.</li>
<li>Space Radiations</li>
<li>DRAM</li>

<h2>INTERESTS</h2>
<li>Space mission, Space exploration history, Small Satellites</li>
<li>Astronomy, Astrophysics</li>

</body>
</html>
